<ion-toolbar color="secondary">
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Criar equipamento</ion-title>
</ion-toolbar>

<ion-content>
  <div class="content">
    <div>
      <ng-form #form="ngForm">
        <div class="flex justify-center mt-8">
          <div
            class="hammer-card h-52 rounded-xl flex justify-center items-center shadow-xl bg-[color:var(--ion-color-secondary)]">
            <ion-icon name="hammer-sharp" class="text-9xl mb-4 text-[color:var(--ion-color-primary)]"></ion-icon>
          </div>
        </div>
        <div class="mt-3 flex flex-col gap-2">
          <ion-input class="custom" placeholder="Identificador" name="identifier" [(ngModel)]="asset.identifier"
            required></ion-input>
          <ion-input class="custom" placeholder="Nome" name="name" [(ngModel)]="asset.name" required></ion-input>
          <div class="select-input">
            <ion-select interface="popover" placeholder="Equipamento" name="id_asset_category"
              [(ngModel)]="asset.id_asset_category" required>
              <ion-select-option *ngFor="let option of assetCategories" [value]="option.id_asset_category">{{
                option.description
                }}</ion-select-option>
            </ion-select>
          </div>
        </div>
        <div class="flex justify-center mt-4 mb-5">
          <omni-button type="outline" title="Criar" (click)="onSubmit()" [disabled]="form.invalid"></omni-button>
        </div>
      </ng-form>
    </div>
  </div>
</ion-content>