<ion-content>
  <div class="mx-2 mt-1">
    <ion-searchbar placeholder="Buscar contato" (ionInput)="handleInput($event)" color="secondary"></ion-searchbar>
  </div>
  <div class="content">
    <div class="mt-1">
      <div class="mt-3" *ngFor="let contact of results">
        <contact-card [contact]="contact"></contact-card>
      </div>
    </div>
  </div>
</ion-content>


<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button routerLink="create-contact" color="secondary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>