<ion-content>
  <div class="mx-2 mt-1">
    <ion-searchbar animated="true" placeholder="Buscar contato" color="tertiary"></ion-searchbar>
  </div>
  <div class="content">
    <div class="mt-1">
      <div class="mt-3" *ngFor="let item of data">
        <omni-card [title]="item.title" [description]="item.description" icon="pencil-sharp" data="./edit-contact"
          [queryParam]="item.id"></omni-card>
      </div>
    </div>
  </div>
</ion-content>


<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button routerLink="create-contact">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>