<ion-item slot="header" color="secondary" class="rounded-2xl shadow-xl">
  <div class="card h-fit p-1 flex justify-between items-center">
    <div class="">
      <strong class="text-xl">{{ title }}</strong>
      <div class="flex">
        <h2 class="text-gray-500">{{ description }} &nbsp;</h2>
      </div>
    </div>

    <div class="flex">
      <div *ngIf="icon && data" [routerLink]="[data]" [queryParams]="{ id: queryParamData }"
        class="text-3xl flex justify-center items-center text-gray bg-[color:var(--ion-color-secondary-tint)] rounded-full w-12 h-12 mx-2">
        <ion-icon [name]="icon"></ion-icon>
      </div>

      <div *ngIf="assetId" (click)="deleteCategoryAsset(assetId)"
        class="text-3xl flex justify-center items-center text-gray bg-[color:var(--ion-color-secondary-tint)] rounded-full w-12 h-12">
        <ion-icon name="trash-sharp"></ion-icon>
      </div>
    </div>
  </div>
</ion-item>