**/*

## Client
!rent-app-client/*.json
!rent-app-client/src
!rent-app-client/*.ts
!rent-app-client/*.js

## Server
!rent-app-server/requirements.txt
!rent-app-server/**/*.py

## Docker assets
!infra/docker/nginx
