<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="help-desk">
      <ion-icon name="headset-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="contacts">
      <ion-icon name="people-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="contracts">
      <ion-icon name="clipboard-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="patrimony">
      <ion-icon name="hammer-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
