<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title *ngIf="!idContactToEdit" class="font-bold">Criar contato</ion-title>
  <ion-title *ngIf="idContactToEdit" class="font-bold">Editar contato</ion-title>
</ion-toolbar>

<ion-content *ngIf="contact">
  <div class="flex justify-center">
    <ng-form #form="ngForm" class="w-10/12">
      <div class="flex justify-center mt-8">
        <div
          class="w-52 h-52 rounded-full flex justify-center items-center  shadow-xl bg-[color:var(--ion-color-primary)]">
          <ion-icon name="person-sharp" class="text-9xl mb-5 text-white dark:text-stone-900"></ion-icon>
        </div>
      </div>

      <div class="w-full mt-4 flex flex-col gap-2">
        <ion-item>
          <ion-input placeholder="Nome" name="Nome" [(ngModel)]="contact.name" data-testid="name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Telefone" name="telephone" [maskito]="telphoneMask" [maskitoElement]="maskPredicate"
            [(ngModel)]="contact.telephone" required data-testid="telephone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Email" name="email" [(ngModel)]="contact.email" required
            data-testid="email"></ion-input>
        </ion-item>
      </div>
      <div class="flex flex-col items-center-center mt-3">
        <ion-item lines="none" color="transparent">
          <ion-button color="primary" type="primary" [title]="idContactToEdit ? 'Editar' : 'Criar'"
            [disabled]="!form.valid" (click)="onSubmit()" class="w-full h-10 text-lg font-bold" data-testid="submit">{{
            idContactToEdit ? 'Editar' : 'Criar' }}</ion-button>
        </ion-item>

        <ion-item *ngIf="!idContactToEdit" lines="none" color="transparent">
          <ion-button color="danger" type="danger" (click)="deleteContractAlert()" class="w-full h-10 text-lg font-bold"
            data-testid="submit">Deletar</ion-button>
        </ion-item>
      </div>
    </ng-form>
  </div>
</ion-content>

<!--SKELETON LOADING-->
<ion-content *ngIf="!contact">
  <div class="content">
    <div>
      <div class="flex justify-center mt-8">
        <div
          class="w-52 h-52 rounded-full flex justify-center items-center shadow-xl bg-[color:var(--ion-color-primary)]">
          <ion-icon name="person-sharp" class="text-9xl mb-5 text-[color:#b8b8b8]"></ion-icon>
        </div>
      </div>
      <div class="mt-4 flex flex-col items-center gap-2">
        <ion-skeleton-text [animated]="true" style="width: 90vw; height: 50px; border-radius: 5px;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 90vw; height: 50px; border-radius: 5px;"></ion-skeleton-text>
      </div>
      <div class="flex justify-center mt-4 mb-5">
        <ion-skeleton-text [animated]="true" style="width: 90vw; height: 50px; border-radius: 5px;"></ion-skeleton-text>
      </div>
    </div>
  </div>
</ion-content>