<ion-item slot="header" color="tertiary" class="rounded-2xl shadow-xl">
  <div class="card h-28 flex justify-between items-center">
    <div class="text-xl">
      <strong class="text-2xl">{{ title }}</strong>
      <h2 class="mt-2" *ngIf="description.telephone">{{description.telephone}}</h2>
      <h2 *ngIf="description.email">{{description.email}}</h2>
    </div>
    <div *ngIf="icon"
      class="text-4xl flex justify-center items-center text-gray bg-[color:var(--ion-color-primary-tint)] rounded-full w-16 h-16">
      <ion-icon [name]="icon"></ion-icon>
    </div>
  </div>
</ion-item>