<div class="bg-stone-100 rounded-2xl shadow-md p-2 py-5">
    <div class="flex justify-around">
        <button (click)="backMounth()"><ion-icon name="chevron-back"></ion-icon></button>
        <div class="flex">
            <p class="text-xl">{{ selectedMonthName }}</p>
            <div class="w-1 h-1 bg-black mx-2 my-auto"></div>
            <p class="text-xl" (click)="isOpenPopover = true">{{ selectedYear }}</p>
            <ion-popover [isOpen]="isOpenPopover" side="top" alignment="center">
                <ng-template>
                    <ion-content class="ion-padding">Hello World!</ion-content>
                </ng-template>
            </ion-popover>
        </div>
        <button (click)="forwardMounth()"><ion-icon name="chevron-forward"></ion-icon></button>
    </div>

    <div class="mx-2">
        <div>
            <div class="w-full grid grid-cols-7 grid-rows-auto text-center text-stone-600 my-4">
                <p *ngFor="let day of daysOfWeek">{{ day }}</p>
            </div>
            <div *ngFor="let week of weeks" class="w-full grid grid-cols-7 grid-rows-auto text-ce">
                <div *ngFor="let day of week" (click)="clickDay(day)"
                    [class]="day.day === selectedDay && day.mounth === currentMonthName 
                    ? 'border-2 border-indigo-300 rounded-full h-[40px] px-2 m-1 flex items-center justify-center' : (day.day === currentDay 
                    ? 'bg-indigo-300 rounded-full shadow-md ' : '') + ' h-[40px] px-2 m-1 flex items-center justify-center'">
                    <div class="w-full h-full flex flex-col justify-center items-center">
                        <p [class]="day.day >= currentDay && day.mounth === currentMonthName 
                        ? 'text-black' : 'text-stone-400'">
                            {{ day.day }}</p>
                        <div class="flex">
                            <div *ngFor="let event of day.events" [style]="('background-color:' + event.color)"
                                class="w-2 h-2 rounded-full mx-0.5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>