<div class="bg-[color:var(--ion-color-primary)] text-white rounded-2xl shadow-md p-2 py-5">
    <div class="flex justify-around">
        <button (click)="backMounth()"><ion-icon name="chevron-back"></ion-icon></button>
        <div class="flex">
            <p class="text-xl">{{ selectedMonthName }}</p>
            <div class="w-1 h-1 bg-white mx-2 my-auto"></div>
            <div (click)="handleModal()"
                class="px-2 border border-[color:var(--ion-color-tertiary)] shadow-md rounded-lg cursor-pointer">
                <p class="text-xl">{{ selectedYear }}</p>
            </div>

        </div>
        <button (click)="forwardMounth()"><ion-icon name="chevron-forward"></ion-icon></button>
    </div>

    <div class="mx-2">
        <div>
            <div class="w-full grid grid-cols-7 grid-rows-auto text-center text-stone-600 my-4">
                <p *ngFor="let day of daysOfWeek">{{ day }}</p>
            </div>
            <div *ngFor="let week of weeks" class="w-full grid grid-cols-7 grid-rows-auto text-ce">
                <div *ngFor="let day of week" (click)="clickDay(day)" style="min-width: 40px;"
                    [class]="day.day === selectedDay && day.mounth === currentMonthName 
                    ? 'border-2 border-[color:var(--ion-color-tertiary)] rounded-full h-[40px] px-2 m-1 flex items-center justify-center' : (day.day === currentDay 
                    ? 'bg-[color:var(--ion-color-tertiary)] rounded-full shadow-md ' : '') + ' h-[40px] px-2 m-1 flex items-center justify-center'">
                    <div class="w-full h-full flex flex-col justify-center items-center">
                        <p [class]="day.day > currentDay && day.mounth === currentMonthName 
                        ? 'text-white' : day.day === currentDay ? 'text-white font-bold' : 'text-gray-600'
                        ">
                            {{ day.day }}</p>
                        <div class="flex" *ngIf="day.events">
                            <div *ngFor="let event of day.events" [style]="('background-color:' + event.color)"
                                class="w-2 h-2 rounded-full mx-0.5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ion-modal #modal [isOpen]="isOpenSelectYear" [canDismiss]="true" (backdropDismiss)="isOpenSelectYear = false">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-title class="text-white">Ano</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="isOpenSelectYear = false" class="text-white">Fechar</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <ion-list>
                <ion-item *ngFor="let year of years; let index" [color]="year === selectedYear ? 'tertiary' : 'primary'"
                    (click)="selectYear(year)">
                    <ion-label [color]="year === selectedYear ? 'light' : 'medium'" [id]="year">{{ year
                        }}</ion-label>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-content>
    </ng-template>
</ion-modal>