.content {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(62, 62, 62);
}

th,
td {
    border: 2px solid rgb(62, 62, 62);
    padding: 8px;
    text-align: center;
}

ion-checkbox {
    --border-color: #fff
}