<ion-toolbar color="primary">
  <ion-buttons slot="end">
    <ion-button (click)="logout()">
      <ion-icon size="large" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title class="font-bold">Home</ion-title>
</ion-toolbar>

<ion-content>
  <app-date-carousel (daySelected)="getDaySelected($event)"></app-date-carousel>

  <ion-searchbar color="primary" [debounce]="1000" (ionInput)="handleInput($event)"
    placeholder="Procurar"></ion-searchbar>
  <div>
    <div class="mx-5 mt-2">
      <app-calendar (dayEvent)="handleCalendar($event)"
        [eventsDays]="[{day: 2, color:'#606B73', id: 1}, {day: 2, color:'#6370ff'}, {day:10, color:'#606B73'}, {day:15, color:'#E02E29'}]"></app-calendar>
    </div>
  </div>
  <div class="felx justify-center">
    <div class="mt-5">
      <div class="mt-4 mx-2" *ngFor="let contract of filteredContracts">
        <contract-card [routerLinks]="['../contracts/create-contract', 'open-modal']"
          [icons]="['pencil-sharp', 'clipboard-sharp']" [routerLinkContract]="'../contracts/create-contract'"
          [contract]="contract"></contract-card>
      </div>
    </div>
  </div>
</ion-content>