<ion-toolbar color="secondary">
  <ion-buttons slot="end">
    <ion-button (click)="logout()">
      <ion-icon size="large" name="log-out"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Home</ion-title>
</ion-toolbar>

<ion-content>
  <div>
    <div class="mt-1 bg-black">
      <ion-datetime class="mx-auto " presentation="date" [preferWheel]="true" display-format="DD/MM/YYYY"
        [(ngModel)]="selectedDate" (ionChange)="filterData()"></ion-datetime>
    </div>
  </div>

  <div class="content">
    <div class="mt-5">
      <div class="mt-4 mx-5" *ngFor="let contract of filteredContracts">
        <contract-card [routerLinks]="['../contracts/create-contract', 'open-modal']"
          [icons]="['pencil-sharp', 'clipboard-sharp']" [routerLinkContract]="'../contracts/create-contract'"
          [contract]="contract"></contract-card>
      </div>
    </div>
  </div>
</ion-content>