<ion-toolbar color="primary">
  <ion-title class="font-bold">Contratos</ion-title>
</ion-toolbar>
<ion-content>
  <div class="mx-2 mt-1">
    <ion-searchbar placeholder="Buscar contrato" color="primary" (ionInput)="handleInput($event)"></ion-searchbar>
  </div>
  <div class="mt-4 mx-2 flex flex-col items-center justify-center" *ngFor="let contract of results">
    <contract-card class="w-full" [contract]="contract"></contract-card>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button routerLink="./create-contract" color="primary" data-testid="create-contract">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>