<ion-content>
  <div class="mx-2 mt-1">
    <ion-searchbar animated="true" placeholder="Buscar contrato" color="secondary"></ion-searchbar>
  </div>
  <div class="mt-4 flex flex-col items-center justify-center" *ngFor="let contract of contracts">
    <contract-card [routerLinks]="['./create-contract', 'open-modal']" [icons]="['pencil-sharp', 'clipboard-sharp']"
      [routerLinkContract]="'./create-contract'" [contract]="contract"></contract-card>

  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button routerLink="./create-contract" color="secondary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>