<ion-accordion-group class="card">
    <ion-item-sliding (ionDrag)="slideToDelete($event, contract.id)" #itemSlide>
        <ion-item-options side="start">
            <ion-item-option [color]="i % 2 === 0 ? 'secondary' : 'medium'" *ngFor="let option of icons; let i = index">
                <div *ngIf="option !== 'clipboard-sharp'" [routerLink]="routerLinks[i]"
                    [queryParams]="{ id: contract.id}"
                    class="w-12 text-3xl flex justify-center items-center text-black">
                    <ion-icon [name]="option"></ion-icon>
                </div>
                <div *ngIf="option === 'clipboard-sharp'" (click)="openPdfModal()"
                    class="w-12 text-3xl flex justify-center items-center text-black">
                    <ion-icon [name]="option"></ion-icon>
                </div>
            </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
            <ion-item-option color="danger">
                <div class="w-12 text-3xl flex justify-center items-center text-gray text-black">
                    <ion-icon name="trash-sharp"></ion-icon>
                </div>
            </ion-item-option>
        </ion-item-options>

        <ion-item class="w-96" lines="none">
            <ion-accordion value="first">
                <ion-item slot="header" [color]="contract.endDateLocate ? 'secondary' : 'medium'"
                    [class]="contract.endDateLocate ? 'rounded-md' : 'rounded-md border-green-500 border-2'">
                    <div class="card w-full h-fit p-1 py-2 flex justify-between items-center">
                        <div>
                            <div class="flex flex-col text-slate-500">
                                <strong class="text-xl text-black">{{ contract.identifier }}</strong>
                                <p>{{ contract.contactName }}</p>
                                <p>Bairro: {{ contract.neighborhood }}</p>
                                <p>Rua: {{ contract.neighborhood }}</p>
                                <p>Nº: {{ contract.numberHouse }}</p>
                                <p *ngIf="contract.endDateLocate">Data final: {{ contract.endDateLocate |
                                    date:'dd/MM/yyyy' }}</p>

                            </div>
                        </div>
                    </div>
                </ion-item>
                <div class="mx-auto ion-padding flex flex-col w-80 justify-between rounded-b-lg bg-[color:var(--ion-color-secondary)] text-[color:var(--ion-color-tertiary-contrast)]"
                    slot="content">
                    <div class="">
                        <p *ngFor="let asset of contract.assets">{{ asset.quantity }} - {{ asset.name }} - R${{
                            getValueOfQuantity(asset) }},00</p>
                    </div>
                    <p class="mt-2 font-bold">Valor total: R${{ getTotalValue() }},00</p>

                </div>
            </ion-accordion>
        </ion-item>
    </ion-item-sliding>
</ion-accordion-group>