.primary {
    background-color: var(--ion-color-primary-contrast);
    width: 90vw;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-primary-tint);
    font-size: 30px;
    box-shadow: 1px 1px 8px black;
}

.outline {
    background-color: var(--ion-color-primary-tint);
    width: 90vw;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-primary-contrast);
    font-size: 30px;
    box-shadow: 1px 1px 8px black;
}