<ion-button *ngIf="type === 'outline'" (click)="function()" [disabled]="disabled ? true : false" class="outline w-full">
  <p>{{ title }}</p>
  <ion-icon *ngIf="icon" [name]="icon" slot="end"></ion-icon>
</ion-button>

<ion-button *ngIf="type === 'primary'" color="primary" (click)=" function()" [disabled]="disabled ? true : false"
  class="primary">
  <strong>{{ title }}</strong>
  <ion-icon *ngIf="icon" [name]="icon" slot="end"></ion-icon>
</ion-button>

<ion-button *ngIf="type === 'success'" [disabled]="disabled" color="success" class="success">
  <strong>{{ title }}</strong>
  <ion-icon *ngIf="icon" [name]="icon" slot="end"></ion-icon>
</ion-button>

<ion-button *ngIf="type === 'danger'" color="danger" (click)=" function()" [disabled]="disabled ? true : false"
  class="primary">
  <strong>{{ title }}</strong>
  <ion-icon *ngIf="icon" [name]="icon" slot="end"></ion-icon>
</ion-button>