<ion-item lines="none" class="mx-auto border-2 border-gray-600 shadow-md" [routerLink]="[data]"
    [queryParams]="{ id: queryParamData }">
    <div class="card h-fit p-1 flex justify-between items-center">
        <div>
            <strong class="text-xl text-stone-800 dark:text-gray-100">{{ assetCategotry.description }}</strong>
            <div class="flex flex-col mt-1">
                <h2 class="text-gray-600 dark:text-gray-400">
                    R$ {{ assetCategotry.value }},00
                    <span class="text-gray-400 dark:text-gray-600">(Valor Unitário)</span>
                </h2>
                <h2 class="text-gray-600 dark:text-gray-400">
                    Quantidade: <span>{{ assetCategotry.quantityAll }}</span>
                </h2>
            </div>
        </div>
    </div>
</ion-item>