<ion-toolbar color="secondary">
    <ion-buttons slot="end">
        <ion-button (click)="closeModal()" color="primary" type="danger">
            <ion-icon size="large" name="close-circle-sharp"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>{{ contract.titleContract }}</ion-title>
</ion-toolbar>

<ion-content>
    <div class="m-5 text-center">
        <p>{{ contract.termsContract}}</p>
    </div>

    <div *ngIf="contract?.assets?.length > 0">
        <table class="my-5">
            <thead>
                <tr>
                    <th class="w-80">Nome</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                    <th class="w-64">Valor Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let asset of contract.assets, let i = index"
                    [class]="i % 2 === 0 ? 'bg-black' : 'bg-gray-900'">
                    <td>{{ asset.name }}</td>
                    <td>{{ asset.quantity }}</td>
                    <td>{{ "R$" + asset.assetCategory.value }}</td>
                    <td class="w-64">{{ "R$" + totalValueCalculator(asset.quantity, asset.assetCategory.value)}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Valor total do contrato</td>
                    <td>R$ {{ getTotalValue() }}</td>
                </tr>
            </tfoot>
        </table>
        <div class="bg-white">
            <img [src]="contract.image" class="w-full h-fit my-2">
        </div>
    </div>


    <div class="flex flex-col items-center gap-4">
        <omni-button type="primary" title="Gerar PDF" [function]="generatePdf"></omni-button>
        <omni-button type="success" title="Mensalidade paga" (click)="handlePaid = true"></omni-button>
    </div>

    <ion-modal #modal [isOpen]="handlePaid" [backdropDismiss]="false">
        <ng-template>
            <ion-content>
                <ion-toolbar color="secondary">
                    <ion-title>Próximo vencimento</ion-title>
                </ion-toolbar>

                <ion-datetime [(ngModel)]="newDateForPay" class="w-max mx-auto" presentation="date"
                    display-format="DD/MM/YYYY"></ion-datetime>

                <div class="flex flex-col gap-3 justify-center items-center mt-5">
                    <omni-button type="primary" title="Reagendar" (click)="confirmNewDateForPay()"></omni-button>
                    <omni-button type="primary" title="Marcar como pago" (click)="markAsPaid()"></omni-button>
                </div>

            </ion-content>
        </ng-template>
    </ion-modal>
</ion-content>