<div class="flex">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="tertiary" class="rounded-2xl">
        <div class="w-96 h-20 flex justify-between items-center">
          <div class="text-xl">
            <strong class="text-2xl">{{ title }}</strong>
            <h2>{{description.value}}</h2>
          </div>
          <div *ngIf="icon"
            class="text-3xl flex justify-center items-center text-gray bg-[color:var(--ion-color-primary-tint)] rounded-full w-12 h-12">
            <ion-icon [name]="icon"></ion-icon>
          </div>
        </div>
      </ion-item>
      <div
        class="ml-8 bg-[color:var(--ion-color-tertiary)] text-[color:var(--ion-color-tertiary-contrast)] ion-padding flex w-96 justify-between rounded-b-lg"
        slot="content">
        <div>
          <p *ngFor="let product of description.products">{{ product }}</p>
        </div>
        <div>
          <p>{{ description.timeStart }}</p>
          <p>{{ description.timeEnd }}</p>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>